{% load staticfiles %}
<link rel="stylesheet" href="{% static 'nsa/js/bootstrap/dist/css/bootstrap.min.css' %}" type='text/css'>
<link rel="stylesheet" href="{% static 'nsa/css/home.css' %}" type='text/css'>
<title>Block</title>
<style>
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
<div class = 'container'>
<br>
<br>
<br>
<div class = 'row jumbotron'>
	<h1 class = 'text-center' style='font-family:"Monteserrat"'> IP Addresses </h1>
</div>
<div style = "overflow:auto" class = 'row'>
<table>
	<tr>
		<td class = 'text-center'><b> Source IP Address </b></td>
		<td class = 'text-center'><b> Destination IP Address </b></td>
		<td class = 'text-center'><b> Destination IP Host Name </b></td>
	</tr>
	{% for table_data in table %}
		<tr>
			<td class = 'text-center'> {{table_data.0.0}} </td>
			<td class = 'text-center'> {{table_data.0.1}} </td>
			<td class = 'text-center'> {{table_data.1.0}} </td>
		</tr>
	{% endfor %}
</table>
</div>
	<br>
    <br>
    <br>
    <br>

<div style = 'overflow:auto; ' class = 'row'>
<table>
	<tr>
		<td class = 'text-center'><b> Source IP Address </b></td>
		<td class = 'text-center'><b> Source Mac Address </b></td>
		<td class = 'text-center'> Checkbox </td> 
	</tr>
	{% for mac_data in mac %}
		<tr>
			<td class = 'text-center'> {{mac_data.0.0}} </td>
			<td class = 'text-center'> {{mac_data.1.0}} </td>
			<td><center> <input class = 'test' type = 'checkbox' value = {{mac_data.1}}/> </center></td>
		</tr>
	{% endfor %}
</table>
</div> 

<div class = 'row'>
	<br>
    <br>
    <br>
    <button type="button" class="btnk center-block" style="width:50%;" onclick = 'perform()' >Deauth</button>
    <br>
    <br>
    <br>
</div>
</div>

{% load staticfiles %}
<script src="{% static 'nsa/js/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'nsa/js/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'nsa/js/highcharts/highcharts.js' %}"></script>
<script src="{% static 'nsa/js/highcharts/modules/exporting.js' %}"></script>

<script>
function perform(){
	var values = new Array;
	var arr = document.getElementsByTagName("input");
	var i = 0;
	for( var k=0; arr[k]; k++) {
		//arr[k].checked = true;
		if(arr[k].checked == true) {
			values[i] = arr[k].value;
			console.log(values[i])
			i += 1;
		}
	}
}
</script>